div.alert {
	position: absolute;
	top: 3px;
	right: -5px;
	max-height: 15px;
	min-width: 16px;
	line-height: 16px;
	text-align: center;
	vertical-align: middle;
	border-radius: 2px;
	z-index: 10;
	overflow: hidden;
	font-size: xx-small;
	background: #E74C3C;
	padding: 0px;
	color: rgba(255,255,255,.9);
	text-shadow: -1px -1px 1px #555;
}